@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ================= ROOT ================= */
:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ================= RESET ================= */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

/* ================= LINKS ================= */
a{
  text-decoration: none;
  color: inherit;
}

/* ================= APP WRAPPER ================= */
.app{
  width: 90%;
  margin: auto;
}

/* ================= COMMON ================= */
hr{
  width: 100%;
  border: none;
  height: 1px;
  background-color: #ccc;
}

.app-component{
  display: flex;
}

/* ================= ANIMATION ================= */
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* ================= TABLET ================= */
@media (max-width: 900px){
  .app{
    width: 95%;
  }

  .app-component{
    flex-direction: column;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 600px){
  body{
    font-size: 14px;
  }

  .app{
    width: 96%;
  }
}
